* {
    box-sizing: border-box;

}

p mark{
    color: #c91717;

}

h1, h2, h3 {
    text-align: center;
}

.first {
    margin-top: 150px;
    color: blue;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    text-decoration: line-through;
    text-transform: uppercase;
}

#second{
    color: pink;
}

.marked {
    color: yellow;
}

.box {
    position: absolute;
    z-index: 3;
    top: 40px;
    left: 60px;
    /* display: inline-block; */
    width: 300px;
    min-height: 250px;
    background-color: red;
    /* border-color: black;
    border-width: 5px;
    border-style: solid; */
    
    border: 5px solid black;
    /* border-top-color: blue; */
    padding: 50px 20px;
    margin: 20px ;
}

.cover {
    display: block;
    width: 400px;
    margin: 50px auto 0 auto;
}

.uppercase {
    text-transform: uppercase;
}

.margin_h2 {
    margin: 56px auto 28px auto;
}

/* .navigation {
    position: relative;
    width: 300px;
    height: 300px;
   background-color: gray
}

.navigation ol {
    position: absolute;
    top: 50px;
} */
.wrapper{
    position: relative;
    background-color: grey;
    width: 100%;
    height: 500px;
    padding: 30px;

}

.green {
    background: green;
    left: 80px;
    z-index: 1;
}